.Sidebar {
  position: relative;
  width: var(--sidebar-width);
  height: 100%;
  padding: 8px;
  background-color: var(--inverted-bg-color);
  transition: width 0.3s ease;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
  transition: width 0.3s ease;
}

.theme {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}
