.app.normal {
  --bg-color: #ecf0f1;
  --inverted-bg-color: #bdc3c7;
  --primary-color: #476483;
  --inverted-primary-color: #9244b4;
  --secondary-color: #293949;
  --inverted-secondary-color: #7f3a9a;
}
