.Navbar {
  width: var(--navbar-width);
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  .navbarLinks {
    margin-left: auto;
    display: flex;
    gap: 1rem;
  }
}
